//Cololrs
$primary-color: #505050;
$secondary-color: #fdc505;
$orange-color: orange;

/* Helpers */
.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.center {
  margin: 0 auto;
  display: block;
}

#main {
  background: $primary-color;
  .container {
    text-align: center;
    padding: 1em 5em;
    h1, p {
      color: #ffffff;
    }
    .btn {
      border-color: $secondary-color;
      color: $secondary-color;
    }
    .btn:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }
    b.secondary {
      color: $secondary-color;
    }
  }

}

/* First Task CSS */
#first {

  .logo {
    width: 50px;
    margin-right: 1em;
  }
  img.lot {
    width: 400px;

  }
  .lead {
    background-color: $orange-color;
    font-weight: bolder;
    padding: 20px;
    color: #ffffff !important;
  }
  .product .btn, .modal-footer .btn-primary {
    background-color: $orange-color;
    color: #ffffff !important;
    border-color: $secondary-color;

  }

  .original-price {
    text-decoration: line-through;
  }
  .new-price {
    font-weight: bolder;
    color: $orange-color
  }
  footer {
    text-align: center;
    a {
      color: $orange-color
    }
    ul {
      padding: 0 !important;
    }
    li {
      list-style: none;
      font-size: smaller;
    }

  }

  .modal-body label {
    display: block;
    text-transform: capitalize;
  }

}

/* First Task CSS */
#second {
}

//todo