//@import url('https://fonts.googleapis.com/css?family=Montserrat');

//Cololrs
$primary-color: #505050;
$secondary-color: #fdc505;
$orange-color: orange;

/* Helpers */
.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.center {
  margin: 0 auto;
  display: block;
}

#main {
  background: $primary-color;
  .container {
    text-align: center;
    padding: 1em 5em;
    h1, p {
      color: #ffffff;
    }
    .btn {
      border-color: $secondary-color;
      color: $secondary-color;
    }
    .btn:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }
    b.secondary {
      color: $secondary-color;
    }
  }

  footer {
    a {
      color: #fff;
    }
    a:hover {
      color:$secondary-color;
    }
  }

}

/* First Task CSS */
#first {

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }

  .logo {
    width: 50px;
    margin-right: 1em;
  }
  img.lot {
    width: 300px;

  }
  .lead {
    background-color: $orange-color;
    font-weight: bolder;
    padding: 20px;
    color: #ffffff !important;
  }
  .product .btn, .modal-footer .btn-primary {
    background-color: $orange-color;
    color: #ffffff !important;
    border-color: $secondary-color;

  }

  .original-price {
    text-decoration: line-through;
  }
  .new-price {
    font-weight: bolder;
    color: $orange-color
  }
  footer {
    text-align: center;
    a {
      color: $orange-color
    }
    ul {
      padding: 0 !important;
    }
    li {
      list-style: none;
      font-size: smaller;
    }

  }

  .modal-body label {
    display: block;
    text-transform: capitalize;
  }

}

/* Second Task CSS */
$blue: #2C30ED;
$orange: #F4BD55;
$gray: #9A9B9C;
$gray-light: #EAEAED;
$pink: #FB517C;
#second {
  background-color: $gray-light;
  font-family: 'Montserrat', sans-serif;
  .card {
    display: block;
    margin: 2em auto;
    width: 30%;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.30, .8, .30, 1);
    padding: 2em;

    #myDropdown {
      display: block;
      margin: 0 auto;
      width: 35%;
    }
    h2 {
      margin-top: 1.5em;
      font-weight: 100;
    }
    .msg p {
      color: $gray;
      margin: 3px 0;
    }
    .btn {
      background: transparent;
    }
    .btn.map {
      background-color: $blue;
      border-color: #2e6da4;
      color: #EAEAED;
    }

    .drop-down {
      text-align: center;
      .fa-angle-down {
        color: $blue;
      }

    }
    .fa-circle {
      color: $blue !important;
      float: left;
    }

    .black {
      color: #000;
      font-size: 30px;
    }
    .block {
      font-size: 6em;
      display: block;
      width: 100%;
    }

    #remaining {
      p {
        font-size: 12px;
        color: $gray;
      }
    }
    #calc {
      hr {
        border: 2px dashed $gray-light;
        margin-top: 7px;
        //margin-right: 8px;
      }
      p {
        font-size: 12px;
        color: $gray;
      }
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-7, .col-sm-8 {
        padding: 0;
        text-align: center
      }

    }

    .half {
      width: 50%;
      text-align: center;
    }

    .fa-map-marker {
      color: $blue;
    }
    #bar {
      margin-top: 6px;
      margin-left: -10px;

      .bar {
        color: $blue;
        background-color: $blue !important;
        height: 3px;
        width: 70%;
        margin-top: -3px;
      }

      .bar-gray {
        color: $gray;
        background-color: $gray-light !important;
        height: 3px;
        width: 100%
      }

    }
    .map-btn {
      box-shadow: 0 30px 138px rgba(44, 48, 237, 0.38), 0 8px 17px rgba(0, 3, 0, 0.24);
    }

    #Remainingtime, #AvgSpeed {
      margin: 5px auto;
      width: 83px;
      height: 88px;
      position: relative;
      svg {
        margin-top: -91px;
        transform: rotate(208deg);
        right: 5px;
        position: relative;
        display: block;

      }
      svg path {
        fill: $pink !important;
        stroke: $pink !important;
      }

    }

  }

}

